.container {
  list-style-type: none;
  padding: 1.5em 0;
  margin: 0 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  gap: 50px;
  place-content: center;
}

.link {
  display: block;
  margin: auto;
  width: 242px;
  height: 100%;
  transition: scale 100ms ease;
  position: relative;
  background: #ffffff11;
}

.link:hover,
.link:focus-visible {
  scale: 1.2;
}

.link span {
  font-size: .8em;
}

.title {
  height: 69px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: white;
  line-clamp: 2;
  padding: 0 5px;
  line-height: 1.3;
  overflow: none;
}

.link div {
  width: 222px;
  height: 333px;
  margin: 10px;
}

.container img {
  width: 100%;
  height: 100%;
}

.remaining {
  position: absolute;
  right: .6em;
  top: .7em;
  border-radius: .3em;
  background: rgba(0, 0, 0, .8);
  padding: 0 8px 0 8px;
  font-size: 20px !important;
}
