/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
  font-family: 'baloo2';
  src: url('/assets/baloo2.ttf');
}

body, input,button {
  font-size: 32px;
  background-color: black;
  color:white;
  font-family: baloo2;
  font-variant-numeric: tabular-nums;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover{
  color:white;
}
button{
  border:none;
  background-color: grey;
  padding: 0 .2em;
  color:black;
  font-weight: bold;
  border-radius: 9px;
  transition: transform 1s ease;
  margin: .1em .2em;
}
button:enabled{
  cursor: pointer;
}
button:disabled{
  opacity: .5;
}
button:enabled:active{
  scale:.9;
}
input{
  border:solid 2px grey;
  padding: 0 .4em;
}

