/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
  font-family: 'baloo2';
  src: url('/assets/baloo2.ttf');
}

*{
  box-sizing:border-box;
  outline:none;
}
body, input,button,select {
  font-size: 32px;
  background-color: #111;
  color:white;
  font-family: baloo2;
  font-variant-numeric: tabular-nums;
}
a {
  text-decoration: none;
  color: grey;
  transition: color 200ms ease-in;
}
a:hover,a:focus{
  color:white;
  transition: color 0s;
}
button{
  all:unset;
}
button:enabled{
  cursor: pointer;
}
button:disabled{
  opacity: .5;
  pointer-events:none;
}
input{
  border:solid 2px grey;
  padding: 0 .4em;
}
nav {
  margin: 0 0 1em 0;
}
nav button{
  padding: 0 .5em;
}
::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
::cue{
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
  background: none;
  font-family: 'baloo2';
  line-height:1px;
  font-size: .8em;
  font-weight:bold;
}
