.container {
    display:inline-block;
    width: .4em;
    height: .8em;
    border: solid grey;
    border-width: 0 4px 4px 0;
    box-sizing: border-box;
    rotate:45deg;
    margin-right: .4em;
    /* box-shadow: 3px 3px grey; */
}
