.container {
  /* border: solid 1px; */
  padding:0 2em;
  /* margin:1em .1em; */
}
.banner{
  display:flex;
  gap:.5em;
  /* border:solid 1px; */
}

.action{
  background-color: #333;
  color:silver;
  font-weight: 500;
  border-radius: 9px;
  transition: transform 1s ease;
  transition: background 100ms ease;
  margin:.4em .1em;
  padding:.1em 1em;
}
.action:hover{
  background-color: #555;
}
.info p{
  height:200px;
  overflow:scroll;
  color:lightgrey;
  line-height:1.2em;
  margin: .4em 0 0 0;
  font-size:.8em;
}
.title{
  line-height:1em;
  font-size:1.5em;
  font-weight:500;
  margin:0;
  padding:0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.episode{
  width:100%;
  display:flex;
  align-items:center;
  gap:0 .5em;
  padding:0 .5em;
  background:none;
  color:grey;
  transition: color 200ms ease-in;
  text-align:left;
  margin: 0;
  padding: 0 .2em;
  border-radius: 0;
}
.episode:hover{
  color:white;
  transition:color 0s;
}
.options{
  position: fixed;
  left:50%;
  translate: -50% 0;
  bottom:1%;
  animation: pop 100ms ease 1;
}
@keyframes pop {
0% {opacity:0;scale:0}
100% {opacity:1;scale:1}
}
