.container {
  list-style-type: none;
  margin:0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  grid-gap: 1em;
  padding: 0 1em;
}
.link{
  display:block;
  margin: auto;
  width:242px;
  height:100%;
  padding:10px;
  transition: background 300ms ease;
  position:relative;
  color:white;
}
.link:hover,.link:focus{
  background:rgba(255,255,255,.2);
  transition: background 300ms ease;
}
.link span{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:.8em;
}
.container .link div{
  width:222px;
  height:333px;
}
.container img{
  width:100%;
  height:100%;
}
.remaining {
  position:absolute;
  right:.5em;
  top:.5em;
  padding: 0 .3em;
  border-radius:.3em;
  background:rgba(0,0,0,.8);
  font-size:1px;
}
