.container video {
  position: absolute;
  inset:0;
  z-index:-1;
  outline:none;
  cursor: none;
  width:100%;
  height:100%;
}
.container header{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 0 10em;
  opacity: 0;
  transition: opacity 200ms;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.container header:hover{
  opacity: 1;
}
.container header span{
  font-size:1.2em;
  padding: .2em 0;
}
.container header ul{
  position: absolute;
  list-style: none;
}
.container header details{
  cursor:pointer;
}
.controls{
  position: absolute;
  bottom:0em;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:2em;
  opacity: 1;
  transition: opacity 200ms;
  gap: .5em;
  padding:.5em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 80%);
}
.controls input[type='range'] {
  width:100%;
}
.controls:hover {
  opacity:1;
}
.settings {
  position: absolute;
  bottom:2em;
  right:.3em;
  animation: fade 200ms ease 1;
}
.settings div{
  background-color:rgba(0,0,0,.4);
  padding: .5em 1em;
  margin: .2em 0;
}
@keyframes fade{
0% {opacity:0}
100% {opacity:1;}
}
.loading{
  position: absolute;
  top:50%;
  left:50%;
  translate: -50% -50%;
  transform-origin: center;
  animation: spin 2s infinite linear;
}
@keyframes spin{
  100%{
  transform: rotate(1turn);
  }
}
.volume{
  position: absolute;
  left:50%;
  transform: translate(-50%);
  background-color:rgba(0,0,0,.4);
  padding: .2em 1em;
  margin-top: 1em;
  transition: opacity 200ms;
}
.container input[type='radio'],
.container input[type='checkbox']{
  scale: 1.5;
}
.container input{
  accent-color:grey;
}
