.container {
  display: flex;
  padding: 0 1em;
  gap: 0 .5em;
}

.details {
  width: 222px;
  gap: .5em;
}

.details button {
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 2px 0;
  /* margin: .5em 0; */
}

.info span {
  text-overflow: scroll;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container ul {
  padding: 0 1em;
}

.media {
  height: 430px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.media button,
.options button {
  color: grey;
  transition: color 200ms ease-in, background 100ms ease;
  padding: 0 .1em;
  border-radius: 18px;
  margin: .1em 0;
}

.media button:hover,
.options button:hover,
.media button:focus-visible,
.options button:focus-visible {
  color: white;
  transition: color 0s, background 100ms ease;
}

.media button {
  width: 98%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 .2em;
}

.media button span:nth-child(1) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.options {
  display: flex;
  justify-content: space-between;
  background: #222;
  padding: .2em .5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  translate: -50% 0;
  animation: slide 100ms ease 1;
  transform-origin: bottom;
}

.options button {
  display: inline;
  margin: 0 .2em;
}

@keyframes slide {
  0% {
    scale: 1 0
  }

  100% {
    scale: 1 1
  }
}

.detailsProviders {
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, .8); */
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 1;
}

.detailsProviders .backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  inset: 0;
  z-index: 2;
}

.detailsProviders>div {
  border-radius: 10px;
  padding: .5em 1em;
  background: #222;
  animation: pop 100ms ease 1;
  height: 80%;
  width: 80%;
  overflow: scroll;
  position: absolute;
  z-index: 20;
}

@keyframes pop {
  0% {
    opacity: 0;
    scale: 0
  }

  100% {
    opacity: 1;
    scale: 1
  }
}
