.container {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(255, 255, 255, .2);
  border-bottom-color: grey;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation .7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
