@font-face {
  font-family: 'baloo2';
  src: url('/assets/baloo2.ttf');
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #111;
  color: silver;
  font-size: 2em;
  font-family: 'baloo2';
  font-variant-numeric: tabular-nums;
}

a {
  text-decoration: none;
  outline: none;
}

button,
input[type='number'],
input[type='text'] {
  all: unset;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:disabled {
  opacity: .5;
  pointer-events: none;
}

a,
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
