.container {
  scrollbar-gutter: stable both-edges;
  position: absolute;
  animation: pop 100ms ease 1;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(10px);
  padding: .5em 0;
  height: 420px;
  width: 420px;
  overflow: scroll;
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes pop {
  0% {
    opacity: 0;
    scale: 0
  }

  100% {
    opacity: 1;
    scale: 1
  }
}

.container button {
  display: flex;
  align-items: center;
  gap: .4em;
  cursor: pointer;
  transition: color 200ms ease-in;
  color: grey;
  background: none;
  width: 100%;
  margin: 0 .4em;
  font-weight: 500;
}

.container button:hover,
.container button:focus-visible {
  color: white;
  transition: color 0s;
}

.container button>span {
  background: grey;
  width: .5em;
  height: .5em;
  transition: 200ms;
}

.container button>.arrow {
  background: none;
  border-right: solid 4px grey;
  border-top: solid 4px grey;
  rotate: 45deg;
}

.container button img {
  opacity: .5;
  transition: opacity 200ms ease-in;
  cursor: pointer;
}

.container button:hover>img,
.container button:focus-visible>img {
  opacity: 1;
  transition: color 0s;
}

.container input[type='range'] {
  accent-color: grey;
  width: 100%;
}

.container .circleButton {
  display: grid;
  place-content: center;
  text-align: center;
  width: 32px;
  height: 32px;
  background: #444;
  color: silver;
  border-radius: 50%;
}

.container .circleButton:hover {
  background: #555;
  color: silver;
}

.container .setting {
  display: flex;
  justify-content: space-between;
  margin: .1em .4em;
}

.container .setting span {
  color: silver;
}

.container .setting i {
  color: silver;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.container .setting input {
  border: solid 3px grey;
  border-radius: 20px;
  width: 3.5ch;
  padding: 0 .2em;
  font-size: .9em;
  text-align: center;
  color: silver;
}
