.container {
  position: absolute;
  bottom: -9%;
  width: 96%;
  translate: 2%;
  height: 20%;
  opacity: 0;
  transition: opacity 200ms ease;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(10px);
  padding:  2px .5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container:hover,
.container:focus {
  opacity: 1;
}

.bar {
  height: .6em;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: .2em;
}

.bar>span:nth-child(1) {
  background-color: rgba(255, 255, 255, .2);
  height: .2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: .1em;
  overflow: hidden;
}

.bar>.progress>span {
  background: silver;
  height: .4em;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  scale: 0;
  transform-origin: left;
}

.bar>.thumb,
.markPercent {
  background-color: silver;
  width: .2em;
  height: .2em;
  position: absolute;
  transition: scale 200ms ease, opacity 200ms ease;
  margin-left: -.1em;
  bottom: 0;
  border-radius: 50%;
}

.bar:hover>.thumb,
.markPercent {
  scale: 3;
  opacity: 1;
}

.bar>.timestamp {
  position: relative;
  display: inline-block;
  inset: 0;
  translate: -50% -2em;
  background: rgba(0, 0, 0, .8);
  backdrop-filter: blur(10px);
  padding: 0 .6em;
  border-radius: .5em;
  font-size: .8em;
  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
}

.bar:hover>.timestamp {
  opacity: 1;
}

.time {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time button {
  color: grey;
  font-weight: bold;
  transition: color 200ms ease;
}

.time button:hover {
  color: white;
  transition: 0s;
}

.markPercent {
  opacity: 1;
  scale: 1;
  background: grey;
  border-radius: 0;
}
